@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
html {
  background: url(assets/background.png);
  background-color: #99699d;
  background-size: auto;
  background-repeat: no-repeat;
  font-family: 'Creepster', cursive;
 }
 body {
   margin: 0;
   overscroll-behavior: none;
 }
 .letters {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#a {
  text-shadow: 10px 10px 0 #5ef6fb;
  font-size: 6em;
  color: transparent;
  opacity: .40;
  position: fixed;
  left: 90%;
  top: -10%;
}
#c {
  text-shadow: 8px 8px 0 ;
  font-size: 6em;
  color: transparent;
  opacity: .40;
  position: fixed;
  top: 0%;
  left: 80%;
}