@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
html {
  background: url(assets/background.png);
  background-color: #99699d;
  background-size: auto;
  background-repeat: no-repeat;
  font-family: 'Creepster', cursive;
 }
 body {
   margin: 0;
   overscroll-behavior: none;
 }
 .letters {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#a {
  text-shadow: 10px 10px 0 #ffffff;
  font-size: 8em;
  color: transparent;
  opacity: .60;
  position: fixed;
  left: 90%;
  top: -10%;
}
#c {
  text-shadow: 10px 10px 0 #ffffff;
  font-size: 7em;
  color: transparent;
  opacity: .65;
  position: fixed;
  top: 0%;
  left: 80%;
}
#i {
  text-shadow: 10px 10px 0 #ffffff;
  font-size: 6.5em;
  color: transparent;
  opacity: .70;
  position: fixed;
  left: 70%;
  top: -10%;
}
#o {
  text-shadow: 10px 10px 0 #ffffff;
  font-size: 6em;
  color: transparent;
  opacity: .75;
  position: fixed;
  top: 10%;
  left: 60%;
}
#u {
  text-shadow: 2px 2px 0 #ffffff;
  font-size: 5em;
  color: transparent;
  opacity: .80;
  position: fixed;
  top: 20%;
  left: 50%;
}